* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body {
background: #0f172a;
color: white;
}

/* HEADER */
header {
display: flex;
justify-content: space-between;
padding: 20px 60px;
background: #111827;
position: fixed;
width: 100%;
top: 0;
}

nav a {
color: white;
margin-left: 20px;
text-decoration: none;
}

nav a:hover {
color: #38bdf8;
}

/* SECTIONS */
section {
padding: 120px 60px;
}

/* HERO */
.hero {
display: flex;
align-items: center;
height: 100vh;
}

.hero-text h2 {
font-size: 40px;
color: #38bdf8;
}

/* BUTTON */
.btn {
display: inline-block;
margin-top: 20px;
padding: 10px 20px;
background: #38bdf8;
color: black;
border-radius: 8px;
text-decoration: none;
}

/* GRID */
.grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 20px;
}

.grid div {
background: #1e293b;
padding: 20px;
border-radius: 10px;
}
